@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;0,800;0,900;1,100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #4045d6;
}

.main_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: white;
    opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.5s; /* Задержка перед началом */
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



h2 {
    font-weight: 800;
    padding-bottom: 10px;
    text-align: left;
}

.main_input {
    width: 220px;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    padding-left: 10px;
    padding: 5px;
    text-align: left;
}

.input_label_1 {
    margin-right: 175px;
}

.input_label_2 {
    margin-right: 164px;
}

.main_input:focus {
    outline: none;
}

.login_button {
    margin-top: 12px;
}

.main_button {
    margin-top: 5px;
    padding: 8px;
    width: 220px;
    border-radius: 5px;
    background-color: #4f55ff;
    color: white;
    border: none;
}

    .main_button:hover {
        background-color: #4045d6;
    }

.main_button_a {
    background-color: #4f55ff;
    border-radius: 5px;
    display: inline-block;
    width: 220px;
    margin-top: 5px;
    padding: 8px;
    text-align: center;
    color: white;
}

    .main_button_a:hover {
        color: white;
        text-decoration: none;
        background-color: #4045d6;
    }
